.img-fluida{
    width: 100%;
    height: 100%;
}
.navbar {
    max-width: 1200px;
    margin: 0 auto;
}
/*colores y espaciados*/
body {
margin-bottom: 0px !important;
}
a.url.fn.n{
    color: black !important;
    text-decoration: none;
}
a.url.fn.n:hover{
    color: #a3a3a3 !important;
}
.btn-primary{
    background-color: #a47dab;
    color: black;
}
.btn-primary:hover{
    background-color: #8c5e8c;
    color: white !important;
}
a.post-edit-link{
    color:#a3a3a3 !important;
}
.bi.bi-plus-circle{
    color: white !important;
}
.bi.bi-plus-circle:hover{
    color: #a3a3a3 !important;
}
.bi.bi-info-circle{
    color: white !important;
}
.bi.bi-info-circle:hover{
    color: #a3a3a3 !important;
}